.overlay {
  top: 0;
  left: 0;
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 888;
  display: none;
}

.overlay-img {
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  position: fixed;
  margin-top: -75px;
  margin-left: -75px;
  object-fit: contain;
  z-index: 899;
  display: none;
}

.newPostOverlay {
  top: 0;
  left: 0;
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 99;
  visibility: hidden;
  transition: .2s;
}

.newPost {
  top: 50%;
  margin-top: -330px;
  left: 50%;
  margin-left: -310px;
  background: #fff;
  width: 600px;
  height: 600px;
  opacity: 0;
  z-index: 109;
  position: fixed;
  border-radius: 10px;
  text-align: center;
  padding: 30px 10px;
  user-select: none;
  visibility: hidden;
  transform: scale(1.2);
  transition: .2s;
}

.newPost a {
  color: #000;
  font-size: 40px;
  font-weight: bold;
}

.newPost .image {
  display: none;
}

.newPost .image2 {
  background: var(--button-background);
  font-size: 15px;
  display: block;
  max-width: 400px;
  margin: 8px auto;
  cursor: pointer;
  border-radius: 10px;
}

.newPost .image2 img {
  background: #2f2d33;
  font-size: 15px;
  display: block;
  margin: auto;
  width: calc(100% - 10px);
  height: 225px;
  object-fit: cover;
  border: 4px solid var(--button-background);
  border-radius: 10px 10px 0 0;
  transition: .1s;
}

.newPost .image2 .upload {
  color: #fff;
  font-weight: bold;
  padding: 5px 0;
}

.newPost input {
  width: 90%;
  max-width: 380px;
  margin-top: 5px;
  padding: 15px 10px;
  border: 0;
  border-radius: 10px;
  outline: none;
  display: block;
  margin: 15px auto;
  background: rgba(0, 0, 0, .06);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: .1s;
}

.newPost input:focus {
  background: rgba(0, 0, 0, .04);
  box-shadow: inset 0 0 0 2px var(--button-background);
}

.newPost textarea {
  width: 90%;
  max-width: 380px;
  height: 155px;
  border: 0;
  padding: 15px 10px;
  resize: none;
  outline: none;
  background: rgba(0, 0, 0, .06);
  margin: 0 auto 15px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 10px;
  transition: .1s;
}

.newPost textarea:focus {
  background: rgba(0, 0, 0, .04);
  box-shadow: inset 0 0 0 2px var(--button-background);
}

.newPost button {
  margin-top: 5px;
  outline: none;
}

.confirmation {
  width: 125px;
  margin: 0 8px 0;
  padding: 10px;
  color: #fff;
  background: var(--button-background);
  border: 0;
  border-radius: 5px;
  outline: none;
  user-select: none;
  transition: .1s;
}

.confirmation:hover {
  background: var(--button-hover-background);
}

.confirmation:active {
  background: var(--button-active-background);
}

.rejection {
  width: 125px;
  margin: 0 8px 0;
  padding: 10px;
  color: var(--button-background);
  background: none;
  border: 2px solid var(--button-background);
  border-radius: 5px;
  outline: none;
  user-select: none;
  transition: .1s;
}

.rejection:hover {
  color: var(--button-hover-background);
  border-color: var(--button-hover-background);
}

.rejection:active {
  color: var(--button-active-background);
  border-color: var(--button-active-background);
}

@media (max-width: 700px) {
  .newPost {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0px;
    margin: 0;
    border-radius: 0;
  }

  .newPost .image2 img {
    border-radius: 0;
  }

  .newPost .image2 {
    margin: auto;
    border-radius: 0;
  }

  .newPost input {
    width: 80%;
    padding: 15px 10px;
  }
  
  .newPost textarea {
    width: 80%;
    height: 20vh;
  }
}