.commentform-div {
  padding: 5px 0;
  background: none;
  width: 100%;
  margin: auto;
  border-top: 2px solid #fff;
  user-select: none;
}

.comment-card-edit {
  border-radius: 10px;
  margin: 10px 0px;
  padding-bottom: 5px;
  background: #ffffff;
  border: 2px solid #cccccc6e;
  display: flex;
}

.comment-card-edit img {
  position: relative;
  margin: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.commentform-name {
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
}

.commentInput {
  width: calc(100% - 30px);
  height: 40px;
  border: 0;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, .04);
  resize: none;
  outline: none;
  text-align: left;
  font-size: 14px;
  display: block;
  transition: .1s;
}

.commentInput:focus {
  background: rgba(0, 0, 0, .04);
  box-shadow: inset 0 0 0 2px var(--button-background);
}

.shareButton {
  background: var(--button-background);
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 15px;
  color: #fff;
  display: flex;
  outline: none;
  float: right;
  transition: .1s;
}

.shareButton:hover {
  background: var(--button-hover-background);
}

.shareButton:disabled {
  color: #bbb;
  background-color: #eeeeef;
  cursor: no-drop;
}

@media (max-width: 623px) {
  .comment-card-edit {
    width: 100%;
    height: auto;
    margin: 0;
    box-shadow: 0 0;
  }
}