#comments {
  padding: 10px 30px 35px;
}

.comments-title {
  font-size: 18px;
  font-weight: normal;
  margin: 10px;
  user-select: none;
}

@media (max-width: 700px) {
  #comments {
    padding: 10px 10px 35px;
  }
}