.main2 {
  width: max-content;
  margin: auto;
}

.main2 h1 {
  margin: 30px auto 0;
  text-align: center;
  user-select: none;
}

.posts {
  width: 870px;
  padding: 25px 0 50px;
}

#homeInfo {
  color: #fff;
  background: var(--button-background);
  user-select: none;
  display: inline-block;
}

.closeInfo {
  width: 20px;
  color: #000;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px 0 0 0;
  position: absolute;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.continue {
  width: max-content;
  margin: 13px 0 0 auto;
  color: #fff;
  text-align: right;
}

.post {
  width: 395px;
  height: 380px;
  color: #000;
  background-color: #fff;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 16px rgb(0 0 0 / 12%);
  display: inline-block;
  transition: .1s;
}

.post:hover {
  box-shadow: 0px 10px 16px rgb(0 0 0 / 24%);
  transform: scale(1.015);
}

.post .title {
  margin: 5px 0;
}

.post .image {
  width: 100%;
  height: 180px;
  border-radius: 10px 10px 0 0;
  transition: .1s;
  object-fit: cover;
}

.description {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.post .date {
  color: #8e8e8e;
  margin: 0px 0 0 auto;
  text-align: right;
  line-height: 22px;
}

.post .likes, .views {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.post .likes .likeImage, .viewImage {
  width: 16px;
  height: 16px;
  margin-right: 2px;
  object-fit: contain;
}

.searchContainer {
  margin-top: 100px;
  padding: 0 22px;
  display: flex;
  justify-content: flex-end;
}

#searchInput {
  width: 220px;
  height: 32px;
  margin: 7px 4px 0 0;
  padding: 8px 15px;
  padding-right: 48px;
  border: 0;
  border-radius: 40px;
  outline: none;
  transition: .1s;
}

#searchInput:focus {
  box-shadow: inset 0 0 0 2px var(--button-background);
}

.searchIt {
  width: 45px;
  height: 32px;
  color: #fff;
  background: none;
  margin: 7px 0 0 -46px;
  border: 0;
  border-radius: 0 40px 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .1s;
}

.searchIt img {
  width: 26px;
  height: 26px;
}

#errorText {
  font-size: 22px;
  margin-top: 20px;
  text-align: center;
  user-select: none;
}

@media (max-width: 900px) {
  .main2 {
    width: auto;
  }

  .main2 h1 {
    margin: 100px auto 60px;
  }

  .posts {
    width: 100%;
    padding: 60px 0 0;
  }

  .homeInfo {
    display: block;
  }

  .post {
    width: 94%;
    height: auto;
    color: #000;
    margin: 20px auto;
    padding-bottom: 12px;
    border-radius: 10px;
    box-shadow: 0px 10px 16px rgb(0 0 0 / 12%);
    display: block;
    transition: .1s;
  }

  .post:hover {
    transform: scale(1.005);
  }

  .post .image {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  #errorText {
    margin-top: 0;
  }
}

@media (max-width: 700px) {
  .main2 h1 {
    margin: 0;
    padding: 110px 15px 30px;
  }

  .post .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .searchContainer {
    width: calc(100% - 32px);
    height: 65px;
    background: #fff;
    margin: 0;
    padding: 0 15px;
    box-shadow: 0 3px 16px rgb(0 0 0 / 12%);
    position: fixed;
    align-items: center;
    z-index: 1;
  }

  #searchInput {
    width: calc(100% - 70px);
    height: 40px;
    margin: 0;
    box-shadow: inset 0 0 0 2px var(--button-background);
  }

  .searchIt {
    height: 40px;
    margin-top: 0;
  }
}