@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu&display=swap');

/*@font-face {
  font-family: main-font;
  src: url('../alegreya-sans.medium.ttf');
}*/

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif;
  /*font-family: main-font;*/
}