@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu&display=swap');

/*@font-face {
  font-family: main-font;
  src: url('../alegreya-sans.medium.ttf');
}*/

:root {
  --button-inactive: #000;
  --button-background: rgb(0 211 128);
  --button-hover-background: rgb(0 155 94);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Nunito', sans-serif;
  /*font-family: main-font;*/
}

textarea {
  font-family: 'Nunito';
}

textarea::-webkit-scrollbar {
  width: 10px;
  cursor: default;
}

textarea::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .2);
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background: #2f2d33;
  border-radius: 10px;
}

input {
  font-family: 'Nunito';
}